*,
*::after,
*::before {
  box-sizing: border-box;
}

.container {
  min-width: 375px;
  max-width: 1140px;
  margin: auto;
  padding: 10px;
}

.game-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-bottom: 5px solid #cc6600;
  padding-bottom: 10px;
}

.char-title {
  margin: 0px;
  padding: 0px;
}

.char-title h1 {
  color: #0baf94;
  text-shadow: 3px 3px #f90;
  font-size: 50px;
  font-weight: bold;
}

.char-title span {
  color: #f90;
  font-size: 30px;
  font-weight: 900;
  text-shadow: 3px 3px #0baf94;
}

.customize {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.left-side {
  width: 400px;
  height: 450px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 10px solid #00cccc;
  border-radius: 20px;
  padding: 10px;
}

.right-side {
  width: calc(100% - 450px);
  height: calc(100vh - 200px);
  padding: 0px 10px;
  overflow: auto;
}

.avatar-image {
  width: 100%;
  height: calc(100% - 40px);
  position: relative;
}

.avatar-image * {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
}

.avatar-image .body {
  z-index: 0;
}

.avatar-image .clothes-layer1 {
  z-index: 1;
}

.avatar-image .clothes-layer2 {
  z-index: 2;
}

.avatar-image .clothes-layer3 {
  z-index: 3;
}

.avatar-image .mouth,
.avatar-image .nose,
.avatar-image .eyes,
.avatar-image .eyebrows {
  z-index: 4;
}

.avatar-image .glasses {
  z-index: 5;
}

.avatar-image .hair {
  z-index: 6;
}

.randomize button {
  margin-top: 5px;
  background-color: #cc6600;
  border: none;
  color: white;
  padding: 7px 7px;
  border-radius: 10px;
  max-width: 100%;
  font-size: 12px;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
}

.randomize button:hover {
  background-color: #cc8800;
}

.char-type-title {
  text-align: center;
}
.char-type-title h2 {
  color: #993300;
  font-weight: bold;
  font-size: 1.5rem;
}

.char-list {
  border: 3px solid brown;
  border-radius: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(255, 166, 0, 0.4);
}

.div-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  width: 70px;
  height: 70px;
  border: 0.7px solid lightgray;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.4s;
}

.div-img:hover {
  background-color: #ffcc997a;
}
.char-list img {
  width: 80%;
  height: 80%;
}

@media only screen and (max-width: 1024px) {
  .customize {
    flex-direction: column;
    align-items: center;
  }

  .left-side {
    width: 300px;
    height: 350px;
  }

  .right-side {
    width: 100%;
    height: calc(100vh - 200px - 335px);
    margin-top: 20px;
  }
}
